$robotoFont : 'Roboto', sans-serif;
$sansFont: 'Open Sans', sans-serif;
$montFont: 'Montserrat', sans-serif;

$greenColor: #319108;
$greenColorLight: #3bdc08;
$greenColorDark: #1e6608;
$yellowColor: #FFC400;
$yellowColorDark: #856300;
$redColor: #E83D0C;
$redColorLight: #ff440c;
$redColorDark: #a72b0a;
$gray: #343434;
$whiteGray: #dfdfdf


